
/* body { */
/*     padding: 0; */
/*     margin: 0; */
/* } */
/* html, body{ */
/*     height: 100%; */
/*     width: 100vw; */
/* } */


#laCarte {
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
    border:2px solid black;
}


/* https://github.com/Leaflet/Leaflet/issues/8385 */
/* Ceci doit être chargé après leaflet pour écraser les params d’icelui */
.leaflet-container { font-size: 1.4rem; }


.ui-autocomplete
    {
        position:relative;
        cursor:default;
        z-index:9999 !important;
    }
