[flake8]
# lignes trop longues
ignore=E501, non-ascii-name, line-too-long,E226,W293,E302,E303,E266
# espaces autour d’opérateur arith
E226,
# espace autor des opérateur
E225,
# espaces dans parenthèses
E202,
no-else-return,
# espace dans ligne vide
W293