**~
**#
**/db.sqlite3
cache
__pycache__/
données_inutiles
.ipynb_*
**/tmp**
tmp**
log
dijk/tmp/**
dijk/templates/dijk/cycla**
site_velo/settings.py
**iti_folium.html
**.log
**/iti_folium.html
**/settings.py
**passenger*
**.db
**.sqlite3
**/données/**
!**/à_laisser_dans_git**
passenger.log
db.sqlite*
**flycheck**
**.png
