{% extends "base.html" %}

{% block titre %}
Carte de la cyclabilité
{% endblock %}

{% block contenu %}
Choisissez la zone de laquelle afficher la carte de la cyclabilité :

{% load bootstrap5 %}


<form action="/cycla/" method="get">
    <!-- {% csrf_token %} -->
    {% bootstrap_form form %}
    {% buttons submit='C’est parti' %}{% endbuttons %}
</form>

L’option « force_calcul » force le calcul de la carte, même si elle est déjà présente en mémoire (pour le cas où les données auraient changé depuis le dernier calcul).

{% endblock %}
