{% extends "base.html" %}

{% block contenu %}
<p>
  Le 22/10/2023 : Une grosse mise à jour a été effectuée pour une meilleure prise en charge des lieux publics, boutiques, bars etc et pour faciliter l’ajout de nouvelles villes! <br>
  Toutes mes excuses pour les divers bugs qui sont apparus entre-temps suite à une fausse manip :( S’il reste encore des problème utilisez la page de rapport de bug!<br>
</p>

Choisissez votre zone (plus la zone est petite et plus le chargement est rapide (ou moins lent)) :<br>
  {% load bootstrap5 %}

<form action="" method="get">
  
  {% bootstrap_form form %}
  

  {% bootstrap_button button_type="submit" content="C’est parti" %}
</form>


{% endblock %}

Pour créer une zone, ou ajouter une ville à une zone existante, contactez moi, j’en aurai pour deux minutes.
