{% extends "dijk/base.html" %}

{% block contenu %}
<p>
  01/2023 : refonte de la gestion des étapes et des marqueurs.<br>

  Nouvelle fonctionalité : « passer par »
  <br>
</p>

Choisissez votre zone (plus la zone est petite et plus le chargement est rapide (ou moins lent)) :<br>
  {% load bootstrap5 %}

<form action="" method="get">
  
  {% bootstrap_form form %}
  

  {% bootstrap_button button_type="submit" content="C’est parti" %}
</form>


{% endblock %}

Pour créer une zone, ou ajouter une ville à une zone existante, contactez moi, j’en aurai pour deux minutes.
