{% extends "dijk/base.html" %}

{% block contenu %}
<p>
  Les problèmes ci-dessous sont déjà connus, je m’y attèle dès que j’ai un moment...
  <ul>
    
    <li> Le premier chargement est un peu long, si personne n'a utilisé le site récemment. Si vous voulez tout savoir, le serveur met en mémoire le graphe de toute l’agglo.
    </li>
    
    <li> L'algo ne prend pas exactement les points de départ et d'arrivée indiqués mais le nœud du graphe (en général un croisement) le plus proche.
    </li>

    
  </ul>


  
</p>
{% endblock %}
