{% extends "dijk/base.html" %}


{% block contenu %}
{% load static %}

 
<!-- Formulaire pour enregistrer la contribution -->
{% if étapes or post_préc.rues_interdites %}
  {% block enregistrer_contrib %}
  {% endblock %}
{% endif %}




<!-- Carte et stats -->
<div class="row">
    
  <div class="col-md-9">
    <!-- La carte -->
      {% block carte %}
      {% endblock %}
  </div>


  <div class="col-sm-3">
      <!-- Statistiques -->
      <h4> Longueurs et traces gps </h4>
      {% block stats %}
      {% endblock %}
      
      {% if fouine %}
      <img src="{% static 'dijk/fouine.jpeg' %}" loading="lazy">
      {% endif %}
  </div>
</div>

<!-- Formulaire de relance simplifié -->
<div class="row">
  {% block modifs_rapides %}
  {% endblock %}
</div>
<br><br>


<!-- Trajet retour -->
{% block retour %}
{% endblock %}


<!-- Formulaire complet pour relancer le calcul -->
<!-- <br><br> -->
<!-- <h4> Plus d’options </h4> -->

  
<!--   {% block relancer_calcul %} -->
<!--   {% endblock %} -->

{% endblock contenu %}
