{% extends "dijk/base.html" %}


{% block contenu %}
{% load static %}

 
<!-- Formulaire pour enregistrer la contribution -->

<div id="form_enregistrer" hidden="true">
  {% block enregistrer_contrib %}
  {% endblock %}
</div>




<!-- Carte et stats -->
<div class="row">
    
  <div class="col-md-9">
    <!-- La carte -->
    {% block carte %}
    {% endblock %}

    <!-- Bouton relancer le calcul -->
    {% block modifs_rapides %}
    {% endblock %}

    <!-- Trajet retour -->
    {% block retour %}
    {% endblock %}

  </div>


  <div class="col-sm-3">
      <!-- Statistiques -->
      <!-- <h4> Longueurs et traces gps </h4> -->
      {% block stats %}
      {% endblock %}
      
      {% if fouine %}
      <img src="{% static 'dijk/fouine.jpeg' %}" loading="lazy">
      {% endif %}
  </div>
</div>


<div class="row">

</div>
<br><br>




<!-- Formulaire complet pour relancer le calcul -->
<!-- <br><br> -->
<!-- <h4> Plus d’options </h4> -->

  
<!--   {% block relancer_calcul %} -->
<!--   {% endblock %} -->

{% endblock contenu %}
